@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Open+Sans:wght@300;400;500&display=swap");

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 60px;
}

.title {
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.jobCard {
  background: linear-gradient(180deg, #1947a8 0%, #5876ad 100%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.jobCard:hover {
  transform: translateY(-5px);
}

.jobTitle {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #222121;
  margin-bottom: 5px;
}

.companyName {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}

.jobDate {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #121111;
  margin-bottom: 20px;
}

.jobExperienceList {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #121111;
  list-style-type: disc;
  padding-left: 20px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .skills,
  .history {
    width: 100%;
  }
}
